<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet">
    
</head>
<body>
  <h1>รายชื่อบริษัท</h1>
    <div id="table"></div>

    <script>
        document.addEventListener("DOMContentLoaded", () =>{
            const lists = <%-JSON.stringify(data)%>;
            console.log(lists);
            new gridjs.Grid({
                // columns: ["หลักทรัพย์", "บริษัท", "ตลาด", "กลุ่มอุตสาหกรรม", "หมวดธุรกิจ", "ที่อยู่", "รหัสไปรษณีย์", "โทรศัพท์", "โทรสาร", "เว๊บไซต์"],
                columns: [
                    {id: "stock", name: "หุ้น"}, 
                    {id: "name", name: "บริษัท"}, 
                    {id: "market", name: "ตลาด"}, 
                    {id: "industry", name: "อุสาหกรรม"}, 
                    {id: "category", name: "หมวดธุรกิจ"}, 
                    {id: "address", name: "ที่อยู่"}, 
                    {id: "postcode", name: "รหัสไปรษณีย์"}, 
                    {id: "tel", name: "โทรศัพท์"}, 
                    {id: "fax", name: "โทรสาร"}, 
                    {id: "website", name: "เว๊บไซต์"}, 
                ],
                data:  lists,
                search: true,
                pagination: {
                    limit: 7
                }
            }).render(document.getElementById("table"));
            console.log(lists);
        });
        
    </script>

    
</body>
</html>