<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet">
</head>
<body>
    <div id="table"></div>

    <script>
        new gridjs.Grid({
          columns: ["Name", "Email", "Age"],
          data: [
            ["John Doe", "john@example.com", 25],
            ["Jane Smith", "jane@example.com", 30],
            ["Mike Brown", "mike@example.com", 27]
          ],
        }).render(document.getElementById("table"));
      </script>
      
</body>
</html>